<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950303674553-n1vbuhs2rgrprnhpbj64467u74b8hig3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950303674553-n1vbuhs2rgrprnhpbj64467u74b8hig3</string>
	<key>API_KEY</key>
	<string>AIzaSyCX_G0HPDK97UjyhRWcQI_HN2NeO7-DyhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>950303674553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whiteus</string>
	<key>PROJECT_ID</key>
	<string>whiteus-d76e6</string>
	<key>STORAGE_BUCKET</key>
	<string>whiteus-d76e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950303674553:ios:64f53f4b36d11191218b68</string>
</dict>
</plist>